.group-header {
    font-weight: bold;
    margin-top: 8px;
}

.group-body {
    display: block;
    overflow: hidden;
    transition: height .5s ease-out;
}

.dropdown-menu {
    position: absolute;
    left: 100%;
}
