$divider-width: 4px;

div {
    position: relative;
}

.host {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}

.divider {
    &.horizontal {
        width: $divider-width;
        height: 100%;
        cursor: col-resize;
        margin: 0 -3px 0 -3px;
    }

    &.vertical {
        height: $divider-width;
        width: 100%;
        cursor: row-resize;
        margin: -3px 0 -3px 0;
    }
}

.window, .divider {
    float: left;
}

.window {
    border: 1px solid #bbb;

    &.horizontal {
        border-width: 0 1px 0 0;
    }

    &.vertical {
        border-width: 0 0 1px 0;
    }
}

.divider {
    z-index: 1;
}
